.main{
  .body{
    .box{
      .form{
        margin-bottom: 20px;
        .label{
          margin: 0;
          font-weight: 600;
          font-family: Montserrat, sans-serif;
        }
      }
    }
  }
}