.buttonAdd{
  float: right;
  margin-bottom: 10px;
  margin-right: 20px;
}
.ant-switch{
  background-color: gray;
}
.table{
  .status{
    .ant-switch{
      background-color: #000;
    }
  }
  .action{
    .boxButton{
      display: flex;
      justify-content: center;
      gap: 10px;
      .edit{
        cursor: pointer;
        :hover{
          color: #1aab70;
        }
      }
      .delete{
        cursor: pointer;
        :hover{
          color: #a84242;
        }
      }
    }
  }
}