.display{
	display: none;
}
.pagination{
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
	li{
		display: inline-block;
		cursor: pointer;
		text-align: center;
		margin: 0 4px;
		a{
			color: #000;
			padding: 0 2px;
			font-size: 15px;
			border-radius: 0!important;
			width: 40px;
			line-height: 35px;
			position: relative;
			float: left;
			text-decoration: none;
			border: 1px solid #ddd;
		}
		//:hover{
		//	z-index: 2;
		//	color: #fff;
		//	background-color: #000;
		//	border-color: #ddd;
		//}
	}
}